  <p>
    <% @request.comments.each do |comment| %>
   	<blockquote><%= comment.body %><br>
   	<cite><%= comment.commenter %></cite></blockquote>
  </p>

<%= link_to 'Destroy Comment', [comment.request, comment], method: :delete, data: { confirm: 'Are you sure?' } if current_uesr == user %>

<% end %>